<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS", crossorigin="anonymous")
        link(rel="stylesheet", href="css/main.min.css")

    body
        section
            #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                //- ol.carousel-indicators
                    li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                    li(data-target='#carouselExampleIndicators', data-slide-to='1')
                    li(data-target='#carouselExampleIndicators', data-slide-to='2')
                .carousel-inner
                    .carousel-item.active.slider.slider_1
                        .box
                            h1 Этот текст добавлен для демонстрации на странице
                            p Акция действует с 01.07.18 по 31.07.18
                            .box-btn_flex
                                a.orange(href="#") Подробнее
                                a.noorange(href="#") Все акции
                        .footer-box
                            .footer-box_item(data-target='#carouselExampleIndicators', data-slide-to='0')
                                img(src="img/превью/slider_1pre.jpg", alt="")
                                .footer-box_item-text
                                    p Акция действует с 01.07.18
                                        br
                                        span Этот текст добавлен для демонстрации на странице
                            .footer-box_item(data-target='#carouselExampleIndicators', data-slide-to='1')
                                img(src="img/превью/slider_2pre.jpg", alt="")
                                .footer-box_item-text
                                    p Акция действует с 01.07.18 
                                        br
                                        span Этот текст добавлен для демонстрации на странице
                            .footer-box_item(data-target='#carouselExampleIndicators', data-slide-to='2')
                                img(src="img/превью/slider_3pre.jpg", alt="")
                                .footer-box_item-text
                                    p Акция действует с 01.07.18 
                                        br
                                        span Этот текст добавлен для демонстрации на странице
                            .footer-box_item(data-target='#carouselExampleIndicators', data-slide-to='3')
                                img(src="img/превью/slider_4pre.jpg", alt="")
                                .footer-box_item-text
                                    p Акция действует с 01.07.18 
                                        br
                                        span Этот текст добавлен для демонстрации на странице
                    .carousel-item.slider.slider_2
                        .box
                            h1 Этот текст добавлен для демонстрации на странице
                            p Акция действует с 01.07.18 по 31.07.18
                            .box-btn_flex
                                a.orange(href="#") Подробнее
                                a.noorange(href="#") Все акции
                        .footer-box
                            .footer-box_item(data-target='#carouselExampleIndicators', data-slide-to='0')
                                img(src="img/превью/slider_1pre.jpg", alt="")
                                .footer-box_item-text
                                    p Акция действует с 01.07.18
                                        br
                                        span Этот текст добавлен для демонстрации на странице
                            .footer-box_item(data-target='#carouselExampleIndicators', data-slide-to='1')
                                img(src="img/превью/slider_2pre.jpg", alt="")
                                .footer-box_item-text
                                    p Акция действует с 01.07.18 
                                        br
                                        span Этот текст добавлен для демонстрации на странице
                            .footer-box_item(data-target='#carouselExampleIndicators', data-slide-to='2')
                                img(src="img/превью/slider_3pre.jpg", alt="")
                                .footer-box_item-text
                                    p Акция действует с 01.07.18 
                                        br
                                        span Этот текст добавлен для демонстрации на странице
                            .footer-box_item(data-target='#carouselExampleIndicators', data-slide-to='3')
                                img(src="img/превью/slider_4pre.jpg", alt="")
                                .footer-box_item-text
                                    p Акция действует с 01.07.18 
                                        br
                                        span Этот текст добавлен для демонстрации на странице
                    .carousel-item.slider.slider_3
                        .box
                            h1 Этот текст добавлен для демонстрации на странице
                            p Акция действует с 01.07.18 по 31.07.18
                            .box-btn_flex
                                a.orange(href="#") Подробнее
                                a.noorange(href="#") Все акции
                        .footer-box
                            .footer-box_item(data-target='#carouselExampleIndicators', data-slide-to='0')
                                img(src="img/превью/slider_1pre.jpg", alt="")
                                .footer-box_item-text
                                    p Акция действует с 01.07.18
                                        br
                                        span Этот текст добавлен для демонстрации на странице
                            .footer-box_item(data-target='#carouselExampleIndicators', data-slide-to='1')
                                img(src="img/превью/slider_2pre.jpg", alt="")
                                .footer-box_item-text
                                    p Акция действует с 01.07.18 
                                        br
                                        span Этот текст добавлен для демонстрации на странице
                            .footer-box_item(data-target='#carouselExampleIndicators', data-slide-to='2')
                                img(src="img/превью/slider_3pre.jpg", alt="")
                                .footer-box_item-text
                                    p Акция действует с 01.07.18 
                                        br
                                        span Этот текст добавлен для демонстрации на странице
                            .footer-box_item(data-target='#carouselExampleIndicators', data-slide-to='3')
                                img(src="img/превью/slider_4pre.jpg", alt="")
                                .footer-box_item-text
                                    p Акция действует с 01.07.18 
                                        br
                                        span Этот текст добавлен для демонстрации на странице
                    .carousel-item.slider.slider_4
                        .box
                            h1 Этот текст добавлен для демонстрации на странице
                            p Акция действует с 01.07.18 по 31.07.18
                            .box-btn_flex
                                a.orange(href="#") Подробнее
                                a.noorange(href="#") Все акции
                        .footer-box
                            .footer-box_item(data-target='#carouselExampleIndicators', data-slide-to='0')
                                img(src="img/превью/slider_1pre.jpg", alt="")
                                .footer-box_item-text
                                    p Акция действует с 01.07.18
                                        br
                                        span Этот текст добавлен для демонстрации на странице
                            .footer-box_item(data-target='#carouselExampleIndicators', data-slide-to='1')
                                img(src="img/превью/slider_2pre.jpg", alt="")
                                .footer-box_item-text
                                    p Акция действует с 01.07.18 
                                        br
                                        span Этот текст добавлен для демонстрации на странице
                            .footer-box_item(data-target='#carouselExampleIndicators', data-slide-to='2')
                                img(src="img/превью/slider_3pre.jpg", alt="")
                                .footer-box_item-text
                                    p Акция действует с 01.07.18 
                                        br
                                        span Этот текст добавлен для демонстрации на странице
                            .footer-box_item(data-target='#carouselExampleIndicators', data-slide-to='3')
                                img(src="img/превью/slider_4pre.jpg", alt="")
                                .footer-box_item-text
                                    p Акция действует с 01.07.18 
                                        br
                                        span Этот текст добавлен для демонстрации на странице

                    


                a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                    span.carousel-control-prev-icon(aria-hidden='true')
                    span.sr-only Previous
                a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.sr-only Next

        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js", integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k", crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js", integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP", crossorigin="anonymous")



       


